/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.body {
    margin: 0;
    padding-top: 0px; /* Adjust according to the height of your header */
}

.logo {
    padding: 1px;
    border-radius: 50%;
    transition: all 0.2s ease-in;
    height: 60px;
}

.header {
    background-color: none;
    color: aliceblue;
    padding: 5px;
    padding-top: 40px;
    padding-bottom: 10px;
    padding-left: 20px;
    text-align: fixed;
    width: auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    transition: background-color 0.5s ;
}

.contact-button {
    background-color: #fff;
    color: #3A1237;
    padding: 18px;
    border-radius: 25px;
    font-size: 16px;
    text-decoration: dashed;
    margin-right: 10px;
    margin-left: auto;
    border: 2px solid #3A1237;
    transition: all 0.3s linear, color 0.2s;
}

.contact-button:hover {
    color: #fff;
    padding: 18px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    text-decoration: dashed;
    margin-right: 10px;
    margin-left: auto;
    border: 2px solid #250523;
    background-color: #551e50;
}

.buttons {
    padding-right: 10px ;
}

.intro-heading {
    padding-top: 15px ;
    color: #3A1237;
    padding-left: 10px;
    font-family: "Lucida Console";
    text-align: center;
    font-weight: 900;
    font-size: 1rem;
    text-decoration-line: overline;
    margin: auto;
    width: 50%;
    min-width: 320px;
}

.intro-details {
    padding-top: 10px ;
    color: #3A1237;
    padding-left: 10px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 450;
    transition: all 0.5s ease-in-out;
    margin: auto;
    width: 65%;
    min-width: 320px;
}

.intro-details:hover {
    font-size: 1.3rem;
}

.owner {
  color: #1d0d1b;
  transition: all 0.5s ease-in-out;
}

.owner:hover {
  font-size: 1.5rem;
}

.pg-img {
    border-radius: 50%;
    height: 17rem;
    transition: height 0.5s, border-radius 0.5s;
}
.pg-img:hover {
    border-radius: 30%;
    height: 19rem;
}

.pg-div-img {
    text-align: center;
    padding-top: 3rem;
}

.pg-contact-div-img {
  text-align: left;
  padding-left: 3rem;
  padding-top: 50px;
}

.Study-button {
  background-color: #ffffff6b;
  color: #3A1237;
  padding: 1rem;
  border-radius: 15px;
  font-size: 1rem;
  text-decoration: dashed;
  border: 2px solid #3A1237;
  transition: all 0.3s linear, color 0.2s;
  cursor: pointer;
}

.Study-button:hover {
  color: #fff;
  padding: 1rem;
  border: none;
  border-radius: 20px;
  font-size: 1.1rem;
  text-decoration: dashed;
  border: 2px solid #250523;
  background-color: #551e50;
}

.button-Study {
  padding-right: 10px ;
  align-items: center;
  text-align: center;
}

.footer {
  padding-top: 10px;
  background-color: #1d0d1b;
  align-items: center;
  text-align: center;
}

.footer-img {
  height: 50px;
  border-radius: 50%;
}

.menu-footer {
  color: #fff;
}

.menu-footer a{
  color: #fff;
  display: none;
}

.footer-footer-center {
  color:#fff;
}

.footer-footer-center a{
  color:#a3a3a3;
}

.wrapper .icon{
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 22px;
  display: inline-block;
  align-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #333;
  text-decoration: none;
}
.wrapper .tooltip {
  position: absolute;
  top: 0;
  line-height: 1.5;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}
.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}
.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}
.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}
.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}